* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
input {
  outline: none;
  border: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
button:active {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
